@model Projeto3.Models.ProdutoModel

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<h4>ProdutoModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Cadastrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="codigo" class="control-label"></label>
                <input asp-for="codigo" class="form-control" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valor" class="control-label"></label>
                <input asp-for="valor" class="form-control" />
                <span asp-validation-for="valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" id="Camponome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary" />
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>

      
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
   <script>

       $("button").click(function () {
           if ($("#Camponome").val() == "") {
               $("#Camponome").css("border", "3px solid red")
               return false
           }
       })

   </script>
       
   }
@section css{ 
    <style>
        .form-control {
            border: 2px double #FFDEAD;
            background-color: #F0FFF0;
            color: #000000
        }
    </style >
}
